body{
  background-color: #fff
}

#idea{
  color: #fff;
  background-color: #eb1662;
  margin: 1em;
  font-size: 32px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #36b2b4;
}

.App {
  text-align: center;
}
#gen-btn{
  background: #eb1662;
  color: #fff;
  margin: 2em;
  font-size: 2em

 }

 .hidden{
   display: none;
 }