body{
  background-color: #fff
}

#idea{
  color: #fff;
  background-color: #eb1662;
  margin: 4em;
  font-size: 32px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #36b2b4;
}

.App {
  text-align: center;
}
#gen-btn{
  background: #eb1662;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
 }